<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Модельное агенство AMR</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE=edge" />
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="../css/owl.carousel.css">
	<link rel="stylesheet" href="../css/owl.theme.css">
	<link rel="stylesheet" href="../css/owl.transitions.css">
	<!--[if IE 7]>
	 	<link rel="stylesheet" type="text/css" href="../css/style_ie.css">
	<![endif]-->

	<!--[if IE]><![if !IE]><![endif]-->
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	<!--[if IE]><![endif]><![endif]-->

	<!--[if IE 8]>
	 	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<![endif]-->
	
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/vnd.microsoft.icon" href="fav.png">
	<link rel="shortcut icon" href="fav.png" type="image/x-icon">
</head>
<body>
<div class="wrapper">
	<header>
		<div class="header-top">
			<div class="header-inner container">
				<div class="logo">
					<a href="">
						<img src="../images/logo.png" alt="logo">
					</a>
				</div>
				<div class="menu">
					<ul>
						<li><a href="index.html">О нас</a></li>
						<li><a href="vak.html">Вакансии</a></li>
						<li><a href="contacts.html">Контакты</a></li>
						<li><a href="forum.html">Форум</a></li>
						<li><a href="faq.html">FAQ</a></li>
					</ul>
				</div>
				<div class="header-right">
					<p>8 (905) 220 61 00</p>
					<a href="" class="btn">Заполните анкету</a>
				</div>
			</div>
		</div>
	</header>
	<div class="content">
		<div class="page-header">
			<h1>открытые вакансии</h1>
		</div>

		<div class="vak-escort">
			<div class="vak-escort-inner container">
				<h2>Модель на сопровождение в Европе</h2>
				<div class="vak-escort-wrap">
					<div class="vak-escort-left">
						<h5>Требования:</h5>
						<ul>
							<li>возраст от 18 до 25 лет;</li>
							<li>гражданство РФ или Украина;</li>
							<li>желательно наличие загранпаспорта;</li>
							<li>отсутствие лишнего веса;</li>
							<li>знание иностранного языка будет преимуществом!</li>
						</ul>
						<p>
							<span>Доход от $6.000</span>
							<a href="" class="btn-empty">Заполнить анкету</a>
						</p>
					</div>
					<div class="vak-escort-right">
						<h5>Условия:</h5>
						<ul>
							<li>срок поездки от 10 дней;</li>
							<li>полная кредитация;</li>
							<li>работа по схеме 50/50;</li>
							<li>оплата перелёта и проживания пополам;</li>
							<li>поддержка менеджера 24/7;</li>
							<li>охрана, врач;</li>
							<li>помощь с загранпаспортом и визой;</li>
							<li>чистый доход от 6000 евро.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="vak-model">
			<div class="vak-model-inner container">
				<h2>фотомодель</h2>

				<div class="vak-model-left">
					<p>Мы ведем набор девушек и мужчин модельной внешности для работы в различных направлениях: <br> одельный бизнес в регионе и контракты за границей; <br> промо-акции и рекламные компании; <br> работа в заведениях LUX сегмента — промо хостес, текильщицы, танцовщицы и пр.; <br> корпоративные и частные мероприятия.</p>
					<p>Для того, чтобы попасть в базу агентства — присылайте анкету с несколькими фото и информацией о Вас (просим отметить опыт работы, такие умения как Go-Go, пилон, вокальные данные), а лучше приходите к нам в офис на собеседование.</p>

					<p><em>Доход от $3000</em> <a href="" class="btn-empty">Заполнить анкету</a></p>
				</div>

				<div class="vak-model-right">
					<div class="vak-model-list">
						<h5>Требования:</h5>
						<ul>
							<li>яркая внешность;</li>
							<li>ответственность;</li>
							<li>коммуникабельность;</li>
							<li>веселый нрав;</li>
							<li>умение танцевать;</li>
							<li>желание зарабатывать. </li>
						</ul>
					</div>
					<div class="vak-model-list">
						<h5>Условия:</h5>
						<ul>
							<li>тренинги;</li>
							<li>фотосессии;</li>
							<li>трудоустройство по ТК РФ.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="vak-scout">
			<div class="vak-scout-inner container">
				<h2>Скаут-менеджер или агент по поиску моделей</h2>

				<div class="vak-scout-req">
					<h5>Требования:</h5>

					<ul>
						<li>амбициозность;</li>
						<li>целеустремленность;</li>
						<li>знание SEO;</li>
					</ul>
				</div>

				<div class="vak-scout-bottom">
					<h3>Доход <br> по договоренности</h3>
					<a href="" class="btn-empty">Заполнить анкету</a>
				</div>
			</div>
		</div>

		<div class="vak-coop">
			<div class="vak-coop-inner container">
				<p><span>Текст, призыв к сотрудничеству</span><em>This is Photoshop's version  of Lorem Ipsum. </em></p>
				<a href="" class="btn-empty">Заполнить анкету</a>
			</div>
		</div>
	</div>	
	<div class="content-header">
		<div class="header-inner container">
			<div class="logo">
				<a href="">
					<img src="../images/logo2.png" alt="logo">
				</a>
			</div>
			<div class="menu">
				<ul>
					<li><a href="index.html">О нас</a></li>
					<li><a href="vak.html">Вакансии</a></li>
					<li><a href="contacts.html">Контакты</a></li>
					<li><a href="forum.html">Форум</a></li>
					<li><a href="faq.html">FAQ</a></li>
				</ul>
			</div>
			<div class="header-right">
				<p>8 (905) 220 61 00</p>
				<a href="" class="btn">Заполните анкету</a>
			</div>
		</div>
	</div>
</div>

<div class="callback">
	<div class="callback-inner">
		<span class="icon-close"></span>
		<div class="callback-form">
					
			<h4>Заполните анкету</h4>

			<form action="">
					<div class="input">
						<input type="text" placeholder="ФИО">
					</div>

					<div class="callback-form-left">
						<div class="input">
							<input type="text" placeholder="Гражданство">
						</div>
						<div class="input">
							<input type="text" placeholder="Рост">
						</div>
						<div class="input">
							<input type="text" placeholder="Параметры">
						</div>
						<div class="input">
							<input type="text" placeholder="Телефон (WhatsApp/Viber)" class="input_viber">
						</div>
						<div class="input">
							<textarea name="" id="" placeholder="Комментарии"></textarea>
						</div>
					</div>
					<div class="callback-form-right">
						<div class="input">
							<input type="text" placeholder="Возраст">
						</div>
						<div class="input">
							<input type="text" placeholder="Вес">
						</div>

						<div class="input input-radio">
							<span>Наличие загранспаспорта:</span>
							<em>
								<input type="radio" name="radio-zagran" id="radio-zagran-y" checked="checked">
								<label for="radio-zagran-y">Да</label>
							</em>
							<i>
								<input type="radio" name="radio-zagran" id="radio-zagran-n">
								<label for="radio-zagran-n">Нет</label>
							</i>
						</div>

						<div class="input">
							<input type="text" placeholder="Skype" class="input_skype">
						</div>

						<div class="input input-attach">
							<p>
								<span><em>Прикрепить  фото 5-6 штук</em> <br>
								(без ретуши, из жизни)	
								</span>
								<a href="" class="icon-attach"></a>
							</p>
						</div>

						<div class="input">
							<input type="submit" class="btn" value="отправить">
						</div>
					</div>
			</form>
		</div>

		<div class="callback-thx">
			<img src="../images/thank-logo.png" alt="">
			<h2>Спасибо за уделённое время! </h2>
			<h3>Наш менеджер свяжется с Вами в ближайшее время!</h3>
		</div>
	</div>
</div>

<footer>
	<div class="footer-inner container">
		<div class="footer-copy">
			<div class="footer-left">
				&copy; AMR-agency, 2016
			</div>
			<div class="footer-right">
				Сайт разработан <a href="">Artrix.ru</a>
			</div>
		</div>
	</div>
</footer>	
<script src=" https://yastatic.net/jquery/1.9.0/jquery.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/jquery.bxslider.min.js"></script>
<script src="../js/script.js"></script>	
</body>
</html>